---
const res = await fetch("https://templates.gswsolutions.co/pocf/wp-json/wp/v2/categories");
const cats = await res.json();
const totalPosts = cats.reduce((total: any, cat: { count: any; }) => total + cat.count, 0);
---
<li class="list-none py-2 border-b border-primary border-solid border-0 lato italic capitalize">
  <a href="/stories/"> All ({totalPosts})</a>
</li>
{
  cats.map((cat: any) => 
  <li class="list-none py-2 border-b border-primary border-solid border-0 lato italic capitalize">
    <a href={`/category/${cat.slug}`}>
     {cat.name} ({cat.count})</a>
  </li>
  )
}
