---
import Recentcard from "./recentside.astro";
import Categories from "@comps/stories/categories.astro";
---
<div class="flex flex-col my-12">
    <div class="flex flex-col pb-12">
        <h3 class="text-2xl font-bold m-0 p-0 lora italic">Categories</h3>
        <ul class="py-4">
            <Categories />
        </ul>
    </div>
    <div class="flex flex-col pb-12">
        <h3 class="text-2xl font-bold m-0 p-0 lora italic">Recent Posts:</h3>
        <Recentcard />
    </div>
</div>