---
import Layout from '@layouts/SinglePages.astro'
import { getCollection } from "astro:content";

---
<Layout title="Media">
<section class="w-11/12 mx-auto py-12 flex flex-col justify-center items-center portfolio-wrapper">

    <div id="btnContainer" class="flex items-center justify-center py-4 md:py-8 flex-wrap gap-5 lora italic font-normal mb-12">
        <button onclick="filterSelection('all')" type="button" class="capitalize border border-primary rounded-full py-2 px-5 hover:bg-primary bg-secondary text-white">All categories</button>
        <button onclick="filterSelection('children')" type="button" class="capitalize border border-primary rounded-full py-2 px-5 hover:bg-primary">Children</button>
        <button onclick="filterSelection('event')" type="button" class="capitalize border border-primary rounded-full py-2 px-5 hover:bg-primary">Events</button>
        <button onclick="filterSelection('media')" type="button" class="capitalize border border-primary rounded-full py-2 px-5 hover:bg-primary">Media</button>
    </div>

    <div class="p-5 sm:p-8">
        <div class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-8">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
        </div>
    </div>
</section>

</Layout>