---
import Slides from "./slides.astro";
import { getCollection } from 'astro:content';
const Slide = await getCollection("slides");

---
<section class="w-full h-full swiper mySwiper">
    <div class="swiper-wrapper">
        {Slide.map((s: any) => <Slides slide={s} />)}
    </div>
    <!-- Slider Pagination -->
    <div class="swiper-pagination [&>.swiper-pagination-bullet-active-next]:bg-secondary [&>.swiper-pagination-bullet-active-main]:bg-primary"></div>
</section>
<script>
    import Swiper from 'swiper';
    import 'swiper/css/bundle';
    import {Autoplay, Pagination } from 'swiper/modules';
    
document.addEventListener('astro:page-load', () => {    
    Swiper.use([Autoplay, Pagination]);

    // init Swiper:
    var swiper = new Swiper(".swiper", {
        loop: true,
        slidesPerView: 1,
        grabCursor: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
    });
});    
</script>