---
import { Icon } from "astro-icon/components";
import Slides from "./slides.astro";
import { getCollection } from 'astro:content';
const Slide = await getCollection("slides");

---
<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden md:h-[440px]">
        <!-- Slider Items -->
        {Slide.map((s: any) => <Slides slide={s} />)}
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <Icon name="arrowleft" class="w-12 h-auto text-secondary" />
        <span class="sr-only">Previous</span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <Icon name="arrowright" class="w-12 h-auto text-secondary" />
        <span class="sr-only">Next</span>
    </button>
</div>