---
import { Icon } from "astro-icon/components";
import Slides from "./slides.astro";
import { getCollection } from 'astro:content';
const Slide = await getCollection("slides");

---
<section class="w-full h-full swiper mySwiper">
    <div class="swiper-wrapper">
        {Slide.map((s: any) => <Slides slide={s} />)}
    </div>
    <!-- Slider Pagination -->
    <div class="swiper-pagination [&>.swiper-pagination-bullet-active-next]:bg-secondary [&>.swiper-pagination-bullet-active-main]:bg-primary"></div>
</section>
<script>
    import Swiper from 'swiper';
    import 'swiper/css/bundle';
    import {Autoplay, Pagination } from 'swiper/modules';
    
    document.addEventListener('astro:page-load', () => {    
        var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        grabCursor: true,
        autoplay: {
            delay: 25000,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
        },
        });
    });
</script>