---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components";

import HelpIcon1 from '@imgs/help-icon-1.png';
import HelpIcon2 from '@imgs/help-icon-2.png';
import HelpIcon3 from '@imgs/help-icon-3.png';
import HelpIcon4 from '@imgs/help-icon-4.png';
import HelpIcon5 from '@imgs/help-icon-5.png';
import donateNow from '@imgs/donate-img.png';
---
<section class="relative howhelp py-8 md:py-24 md:h-[560px] h-[75vh]">
    <div class="w-full px-10 md:px-20 grid grid-cols-7 justify-center items-center mx-auto gap-6">
        <div class="col-span-7 md:-mt-32 md:col-span-2 z-50">
            <h2 class="lora uppercase text-xl md:text-[55px] font-bold md:leading-[45px]">How <br /><small class=" text-xl md:text-[40px] inline-block font-normal text-black">Can You Help?</small></h2>
            <hr class="border border-primary h-0 my-4 w-44" />
            <p class="text-gray-500 text-sm lato">Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmodo conse quat. Duis aute irure dolor in reprehenderit inas voluptate velit esse cillum...</p>
            <a href="#" class="w-1/2 flex flex-row justify-between items-center gap-3 bg-primary text-secondary hover:bg-secondary hover:text-white lora uppercase text-[11px] font-bold mt-8">
                <span class="w-4/5 text-center">Read More</span>
                <Icon name="arrowright" class="text-white bg-secondary flex justify-center items-center p-2 w-10 h-auto"/>
            </a>
        </div>
        <div class="col-span-7 md:col-span-3 mt-8 md:mt-24 lg:col-span-3 z-30 relative ms-12">
            <div class="helplist flex flex-col gap-8 md:-mt-[180px] absolute top-0 bottom-0 left-0 right-0 list-none">
                <li class="lora flex flex-row gap-3"><Icon name="books" class="text-terary w-7 h-auto" /> Awareness</li>
                <li class="lora flex flex-row gap-3"><svg xmlns="http://www.w3.org/2000/svg" class="text-terary" width="24" height="24" viewBox="0 0 48 48"><defs><mask id="ipTHands0"><g fill="none" stroke="#fff" stroke-width="4"><circle cx="24" cy="13" r="9" fill="#555555" stroke-linejoin="round"/><path d="M4.5 44c0-6 7-16 19.5-16c0 0 2.759 0 5.782 1.09C32.744 30.16 36.5 31.149 36.5 28V7.75a3.75 3.75 0 1 1 7.5 0V44"/><path stroke-linecap="round" stroke-linejoin="round" d="M2 44h44"/></g></mask></defs><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipTHands0)"/></svg> Become Volunteer</li>
                <li class="lora flex flex-row gap-3"><Icon name="gift" class="text-terary w-7 h-auto" /> Make a Gift</li>
                <li class="lora flex flex-row gap-3"><Icon name="donate" class="text-terary w-7 h-auto" /> Send Donations</li>
                <li class="lora flex flex-row gap-3"><Icon name="handshake" class="text-terary w-7 h-auto" /> Give Helping Hand</li>
            </div>
        </div>
        <div class="hidden md:flex md:col-span-2 z-50 ms-6">
            <Image class="w-full h-auto" src={donateNow} alt="" > 
        </div>
    </div>
</section>

<style>
@media (min-width: 320px) and (max-width: 480px) {
	.howhelp:before {
		background: #f7f7f7;
		content: "";
		position: absolute;
		width: 300px;
		height: 210px;
		right: 20px;
		margin: 0 auto;
		z-index: 1;
	}
	.helplist:before {
		background: rgba(255, 204, 0, 0.169);
		content: "";
		position: absolute;
		width: 330px;
		height: 320px;
		top: -20px;
		left: -30px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.howhelp:before {
		background: #f7f7f7;
		content: "";
		position: absolute;
		width: 400px;
		height: 250px;
		right: 0;
		margin: 0 auto;
		z-index: 1;
	}
	.helplist:before {
		background: rgba(255, 204, 0, 0.169);
		content: "";
		position: absolute;
		width: 400px;
		height: 250px;
		top: -20px;
		left: 0;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.howhelp:before {
		background: #f7f7f7;
		content: "";
		position: absolute;
		width: 500px;
		height: 320px;
		right: 0;
		margin: 0 auto;
		z-index: 1;
	}
	.helplist:before {
		background: rgba(255, 204, 0, 0.169);
		content: "";
		position: absolute;
		width: 500px;
		height: 320px;
		top: -20px;
		left: 0;
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.howhelp:before {
		background: #f7f7f7;
		content: "";
		position: absolute;
		width: 673px;
		height: 430px;
		right: 540px;
		margin: 0 auto;
		z-index: 1;
	}
	.helplist:before {
		background: rgba(255, 204, 0, 0.169);
		content: "";
		position: absolute;
		width: 520px;
		height: 320px;
		top: -40px;
		left: -40px;
	}
}

</style>