---
import counterBG from "@imgs/1-2023.jpeg";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import smiles from "src/icons/smiles2.svg";
import girls from "src/icons/girl1.svg";
---
<section class="w-full relative h-56 md:h-[350px]">
    <Image src={counterBG}  alt="Counter Background" class="absolute inset-0 w-full h-full object-cover" loading="lazy" />
    <div class="absolute inset-0 bg-black/70 flex justify-center items-center py-44">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-11/12 mx-auto relative z-10">
            {/* POCF Members */}
            <div class="flex flex-row w-full gap-5 justify-center items-center">
                <div class="flex flex-col mt-3 gap-4">
                    <Icon name="members" class="counters w-12 h-auto -mt-1 text-primary" />
                    <hr class="border-primary"/>
                </div>
                <div class="flex flex-col mt-3">
                    <span class="counter text-primary text-[35px] font-bold">20</span>
                    <p class="text-white uppercase montserrat text-sm font-bold m-0">POCF Members</p>
                </div>
            </div>

            {/* Total Boys */}
            <div class="flex flex-row w-full gap-5 justify-center items-center">
                <div class="flex flex-col mt-3 gap-4">
                    <Icon name="boys" class="counters w-12 h-auto -mt-1 text-primary" />
                    <hr class="border-primary"/>
                </div>
                <div class="flex flex-col mt-3">
                    <span class="counter text-primary text-[35px] font-bold">53978</span>
                    <p class="text-white uppercase montserrat text-sm font-bold m-0">Total Boys</p>
                </div>
            </div>

            {/* Total Girls */}
            <div class="flex flex-row w-full gap-5 justify-center items-center">
                <div class="flex flex-col mt-3 gap-4">
                    <Image src={girls} alt={"girl emoji"} class="counters w-12 h-auto -mt-1 text-primary" />
                    <hr class="border-primary"/>
                </div>
                <div class="flex flex-col mt-3">
                    <span class="counter text-primary text-[35px] font-bold">47358</span>
                    <p class="text-white uppercase montserrat text-sm font-bold m-0">Total Girls</p>
                </div>
            </div>

            {/* Total Orphans */}
            <div class="flex flex-row w-full gap-5 justify-center items-center">
                <div class="flex flex-col mt-3 gap-4">
                    <Image src={smiles} alt={"smiles emoji"} class="counters w-12 h-auto -mt-1 text-primary" />
                    <hr class="border-primary"/>
                </div>
                <div class="flex flex-col mt-3">
                    <span class="counter text-primary text-[35px] font-bold">101336</span>
                    <p class="text-white uppercase montserrat text-sm font-bold m-0">Total Orphans</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    import counterUp from 'counterup2'
    document.addEventListener('astro:page-load', () => {
    const counters = document.querySelectorAll( '.counter' )
        counters.forEach( counter => {
        const observer = new IntersectionObserver((entries) => {
            if (entries[0].isIntersecting) {
                counterUp( counter, {
                    duration: 1000,
                    delay: 16,
                } )
                observer.unobserve(counter);
                }
            }, { rootMargin: '0px 0px -200px 0px' });
        observer.observe(counter);
    });
});    
</script>
