---
import counterBG from "@imgs/counter-bg.jpg";
import { Icon } from "astro-icon/components";
---
<section class="w-full h-56 bg-blend-overlay bg-secondary bg-cover bg-center flex  justify-center items-center py-44" style={`background-image: url(${counterBG.src})`}>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-11/12 mx-auto">
        <div class="flex flex-row w-full gap-5 justify-center items-center">
            <div class="flex flex-col mt-3 gap-4">
                <Icon name="heart" class="counters w-12 h-auto -mt-1 text-primary" />
                <hr class="border-primary"/>
            </div>
            <div class="flex flex-col mt-3">
                <span class="counter text-primary text-[35px] font-bold">4512</span>
                <p class="text-white uppercase montserrat text-sm font-bold m-0">Causes solved</p>
            </div>
        </div>

        <div class="flex flex-row w-full gap-5 justify-center items-center">
            <div class="flex flex-col mt-3 gap-4">
                <Icon name="volunteers" class="counters w-12 h-auto -mt-1 text-primary" />
                <hr class="border-primary"/>
            </div>
            <div class="flex flex-col mt-3">
                <span class="counter text-primary text-[35px] font-bold">1024</span>
                <p class="text-white uppercase montserrat text-sm font-bold m-0">Total Volunteers</p>
            </div>
        </div>

        <div class="flex flex-row w-full gap-5 justify-center items-center">
            <div class="flex flex-col mt-3 gap-4">
                <Icon name="money" class="counters w-12 h-auto -mt-1 text-primary" />
                <hr class="border-primary"/>
            </div>
            <div class="flex flex-col mt-3">
                <span class="counter text-primary text-[35px] font-bold">$ 5234</span>
                <p class="text-white uppercase montserrat text-sm font-bold m-0">Donations This Month</p>
            </div>
        </div>

        <div class="flex flex-row w-full gap-5 justify-center items-center">
            <div class="flex flex-col mt-3 gap-4">
                <Icon name="smile" class="counters w-12 h-auto -mt-1 text-primary" />
                <hr class="border-primary"/>
            </div>
            <div class="flex flex-col mt-3">
                <span class="counter text-primary text-[35px] font-bold">77614</span>
                <p class="text-white uppercase montserrat text-sm font-bold m-0">Smiles Spread</p>
            </div>
        </div>
    </div>
</section>

<script>
    import counterUp from 'counterup2'
    const counters = document.querySelectorAll( '.counter' )
    counters.forEach( counter => {
        counterUp( counter, {
            duration: 1000,
            delay: 16,
        } )
    })
</script>