<ul class="menu flex flex-col md:flex-row md:space-x-8 md:p-0 gap-5 lora uppercase font-semibold text-sm">
    <li class="list-none hover:border-t border-secondary py-3 md:py-6 hover:-mt-[1px]">
        <a class="block" href="/">Home</a>
    </li>
    <li class="list-none hover:border-t border-secondary py-3 md:py-6 hover:-mt-[1px]">
        <a class="block" href="/media">Media</a>
    </li>
    <li class="list-none hover:border-t border-secondary py-3 md:py-6 hover:-mt-[1px]">
        <a class="block" href="/members">Members</a>
    </li>
    <!-- <li class="list-none hover:border-t border-secondary py-3 md:py-6 hover:-mt-[1px]">
        <a class="block" href="/stories">Stories</a>
    </li> -->
    <li class="list-none hover:border-t border-secondary py-3 md:py-6 hover:-mt-[1px]">
        <a class="block" href="/about">About Us</a>
    </li>
    <li class="list-none hover:border-t border-secondary py-3 md:py-6 hover:-mt-[1px]">
        <a class="block" href="/contact">Contact Us</a>
    </li>
</ul>
<script>
    document.addEventListener('astro:page-load', () => {
    const currentLocation = window.location.href;
    const menuItems = document.querySelectorAll('ul.menu>li');
    menuItems.forEach(item => {
        const link = item.querySelector('a');
        if (link && link.href === currentLocation) {
            // add class to li
            item.classList.remove('hover:-mt-[1px]');
            item.classList.remove('hover:border-t');
            item.classList.add('border-t-2');
        }
    })
});
</script>