---
import RecentCard from "./recentCard.astro";

import { getCollection } from 'astro:content';
const recentStories = await getCollection("stories");
---
<section class="w-full py-16 flex flex-col justify-center items-center">
    <div class="w-11/12 md:w-1/2 mx-auto flex flex-col justify-center items-center">
        <h2 class="text-[35px] md:text-[40px] font-normal lora">Fresh From The <b>Stories</b></h2>
        <p class="capitalize text-secondary lato font-bold">Every charitable act is a stepping stone toward heaven</p>
    </div>

    <div class="w-11/12 grid grid-cols-6 md:grid-cols-12 gap-12 mx-auto">
        {recentStories.sort((a: { data: { pubDate: string | number | Date; }; }, b: { data: { pubDate: string | number | Date; }; }) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()).slice(0, 4).map((p: any) => <RecentCard post={p}/>)}        
    </div>
</section>