---
const { testimonial } = Astro.props;
const { name: testimonialname, ref, message } = testimonial.data;

import { Icon } from "astro-icon/components";
import { getEntry } from "astro:content";
// fetch client details
const member = await getEntry("members", ref);
let membername;
if (member) {
  ({ name: membername } = member.data);
}
---
<blockquote class="py-8 hover:cursor-grab swiper-slide text-xl lora italic font-semibold text-secondary flex flex-col">
  <div class="flex flex-row justify-start items-center gap-6">
    <Icon name="quotes" class="w-12 h-auto text-primary transform rotate-180" />
    <p>"{message}"</p>
  </div>
  <div class="flex flex-col text-sm text-start items-end font-normal gap-0 text-gray-600">
    <p class="text-gray-500">{testimonialname}</p>
    <p>{membername}</p>
  </div>
</blockquote>