---
import { Icon } from "astro-icon/components"
---
<!-- PROUND -->
<section class="w-full py-12 flex flex-col justify-center items-center">
    <span class="counter text-primary text-[35px] font-bold">4512</span>
    <h2 class="capitalize not-italic text-[30px] lora flex flex-row justify-center items-center">We are Really Proud of Our Kind <Icon name="heart" class="text-primary w-12 h-auto" /> <strong>Volunteers</strong>.</h2>
</section>