---
import { Icon } from "astro-icon/components"
import { getCollection } from 'astro:content';
const orphansDetails = await getCollection("orphans");
---
<section class="w-full py-12 flex flex-col justify-center items-center">
    <span class="counter text-primary text-2xl md:text-[30px] font-bold">{orphansDetails.reduce((sum: number, orphan: { data: { total: any; }; }) => sum + Number(orphan.data.total), 0).toLocaleString()}</span>
    <h2 class="capitalize not-italic text-[18px] lora flex flex-row justify-center items-center">
        Orphans Under 
        <Icon name="heart" class="text-primary w-8 h-auto" /> 
        <strong>Care</strong>.
    </h2>
</section>