---
const { filter } = Astro.props;
const { title } = filter.data;
---
<button data-target={title} class="outline-0 ring-0 focus:ring-0 focus:outline-0 capitalize border border-primary rounded-full py-2 px-5 hover:bg-primary" onclick="setActive(this)">{title}</button>
