---
import { Image } from "astro:assets";

const { media } = Astro.props;
const { title, image, imagealt, filter } = media.data;
---
<div class="h-auto max-w-full relative flex justify-center" data-item={filter}>
    <Image class="h-auto max-w-full rounded-lg" src={image} alt={imagealt} />
    <h4 class="absolute bottom-0 py-1 text-lg lato bg-secondary/40 backdrop-blur-sm w-full text-center text-secondary">
        {title}
    </h4>
</div>