---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/content/media/*/*.{jpeg,JPG,jpg,png,gif}');
const imageEntries = Object.entries(images);

// Sort images by year in descending order
imageEntries.sort(([pathA], [pathB]) => {
    const partsA = pathA.split('/');
    const yearA = parseInt(partsA[4]);
    const partsB = pathB.split('/');
    const yearB = parseInt(partsB[4]);
    return yearB - yearA;
});
---
<div class="image-gallery">
    {imageEntries.map(([path, imageModule]) => {
        const parts = path.split('/');
        const year = parts[4]; // Extract the year
        console.log("Path:", path, "Parts:", parts, "Year:", year); // Inspect parts as well
        const imageName = parts.pop(); // Extract the image filename
        return (
            <div class="grid grid-cols-1 gap-4" data-item={year}>
                <Image src={imageModule()} alt={imageName || `Image from ${year}`} class="rounded-lg m-3"/>
            </div>
        );
    })}
</div>