---
import { Image } from "astro:assets";

const { media } = Astro.props;
const { image, imagealt } = media.data;
---
<div class="h-auto max-w-full relative flex justify-center">
    <Image class="h-auto max-w-full rounded-lg" src={image} alt={imagealt} />
</div>